h1 Notice of customers with a score of over 100!!!

h4 = @customer.full_name

h4 = @customer.score

p Note: Due to the specifications of the app, not all ratings and comments registered by this customer may be for the (#{@maker.name}) product. Please check the app for details.
