p "Mr/Ms #{Maker.find_by(email: @resource.email).name}"

p Reset the password. Please set from the following URL.

p= link_to 'Password reset page', edit_password_url(@resource, reset_password_token: @token)

p If you are not familiar with this notice, please ignore this email.
p Please note that your password will not change until you access the link above and create a new one.

p YGN_outfits
